body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.header {
    text-align: center;
    margin: 40px 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 0 40px 40px;
}

.gallery-card {
    background: #fff;
    border-radius: 12px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.gallery-card:hover {
    transform: translateY(-5px);
}

.gallery-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background: #8b5e3c;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}


/*footer....*/

.footer {
    background: #0a3d62;
    color: #fff;
    padding-top: 40px;
}

.top {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
}

.footer-col h3 {
    margin-bottom: 15px;
    border-bottom: 2px solid #f1c40f;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-col ul {
    padding: 0;
    list-style: none;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    color: #ddd;
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: #f1c40f;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.copyright {
    background: #02203a;
    color: #ccc;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}