  body {
      font-family: Arial, sans-serif;
      background: #f5f5f5;
      text-align: center;
  }
  
  .container {
      width: 400px;
      margin: 40px auto;
      background: white;
      padding: 20px;
      border-radius: 8px;
  }
  
  .back-home {
      position: fixed;
      /* cố định trên màn hình */
      top: 20px;
      /* cách trên 20px */
      left: 20px;
      /* cách trái 20px */
      padding: 10px 18px;
      background: #ee0b04;
      color: #fff;
      text-decoration: none;
      border-radius: 30px;
      font-weight: bold;
      transition: 0.3s;
      z-index: 1000;
  }
  
  img {
      text-align: center;
      border-radius: 6px;
  }
  
  input {
      width: 100%;
      max-width: 400px;
      padding: 8px;
      margin: 8px 0;
  }
  
  button {
      width: 100%;
      max-width: 400px;
      padding: 10px;
      background: rgb(229, 6, 6);
      color: white;
      border: none;
      cursor: pointer;
  }