body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    text-align: center;
}

.container {
    width: 400px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

img {
    text-align: center;
    border-radius: 6px;
}

input {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    background: rgb(229, 6, 6);
    color: white;
    border: none;
    cursor: pointer;
}