 body {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
     color: #333;
 }
 
 header {
     background-color: #333;
     color: #fff;
     padding: 10px 0;
     text-align: center;
 }
 
 h1 {
     margin: 0;
     font-size: 2.5em;
     text-align: center;
 }
 
 ul li {
     list-style-type: none;
     display: inline;
     margin: 0 15px;
 }
 
 nav a {
     color: #fff;
     margin: 0 15px;
     text-decoration: none;
 }
 
 nav a:hover {
     text-decoration: underline;
 }
 
 .banner {
     display: block;
     width: 100%;
 }
 /*  */
 
 .container {
     background: white;
     border-radius: 12px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .content {
     position: absolute;
     top: 50%;
     text-align: center;
 }
 
 .content h2 {
     text-align: center;
     font-size: 28px;
     margin-bottom: 20px;
     color: #ffffff;
 }
 
 .content p {
     line-height: 1.6;
     font-size: 18px;
     margin-bottom: 20px;
     text-align: center;
     color: #f4f4f4;
 }
 
 .btn {
     display: inline-block;
     padding: 10px 20px;
     background: black;
     color: white;
     text-decoration: none;
     margin-top: 10px;
 }
 
 .btn:hover {
     background: #555;
 }
 
 .footer {
     background-color: #333;
     color: #fff;
     text-align: center;
     padding: 10px 0;
     width: 100%;
 }